*.html
*.aux
_minted-*
*.nav
*.snm
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*fdb_latexmk
*fls
*csv
*.bcf
*.run.xml
*~
*.xdv
*.bak
*.sav
*.glsdefs
*.vrb
llncs/*
archive/*
labview/*
multimedia/*
.touch
public/*
**/public/*
.env

